@import url("https://fonts.googleapis.com/css2?family=Short+Stack&display=swap");

.friends-page {
  padding: 30px;
  text-align: center;
  margin-top: 40px;
  font-size: 30px;
  color: black;
  font-family: "Short Stack", cursive;
}

.friends-page-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  margin-top: 30px;
}