@import url("https://fonts.googleapis.com/css2?family=Short+Stack&display=swap");

.home-page {
  padding: 30px;
  text-align: center;
  margin-top: 40px;
  font-size: 30px;
  color: black;
  font-family: "Short Stack", cursive;
}

.how-to-play-button {
  padding: 5px 10px;
  height: 50px;
  width: 250px;
  border-radius: 5px;
  color: black;
  border: 1px solid black;
  background-color: #ffa500ff;
  font-size: 18px;
  font-weight: 600;
  font-family: "Short Stack", cursive;
}

.home-page-link-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin-top: 30px;
}

.quick-play-button {
  padding: 5px 10px;
  height: 50px;
  width: 250px;
  border-radius: 5px;
  color: black;
  border: 1px solid black;
  background-color: #ffa500ff;
  font-size: 18px;
  font-weight: 600;
  font-family: "Short Stack", cursive;
}

.start-scuttlebudd-button {
  padding: 5px 10px;
  height: 50px;
  width: 250px;
  border-radius: 5px;
  color: black;
  border: 1px solid black;
  background-color: #ffa500ff;
  font-size: 18px;
  font-weight: 600;
  font-family: "Short Stack", cursive;
}

.friends-button {
  padding: 5px 10px;
  height: 50px;
  width: 250px;
  border-radius: 5px;
  color: black;
  border: 1px solid black;
  background-color: #ffa500ff;
  font-size: 18px;
  font-weight: 600;
  font-family: "Short Stack", cursive;
}

.whats-the-scuttlebudd-button {
  padding: 5px 10px;
  height: 100px;
  width: 250px;
  margin-top: 100px;
  border-radius: 5px;
  color: black;
  border: 1px solid black;
  background-color: #ffa500ff;
  font-size: 18px;
  font-weight: 600;
  font-family: "Short Stack", cursive;
}