.how-to-play-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.how-to-play {
    position: fixed;
    top: 10%;
    width: 95%;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    background-color: white;
    z-index: 2;
   
}

.how-to-play ul {
    padding: 0;
    margin: 15px; 
}

.how-to-play ul li {
    text-align: left; 
    padding: 5px 0; 
    font-size: 16px;
}
